{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <hr class="my-5">

    <div class="card col-md-8 mx-auto shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Cadastrar Nova Tarefa</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'tarefa' %}">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título da Tarefa *</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required placeholder="Ex: Estudar Django">
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição *</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" required placeholder="Ex: Assistir às aulas do módulo 3">
                </div>

                <div class="mb-3">
                    <label for="titulo" class="form-label">Data Criação *</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required placeholder="Ex: 01/05/2009">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="dataConclusao" class="form-label">Previsão de Conclusão</label>
                    <input type="datetime-local" class="form-control" id="dataConclusao" name="dataConclusao">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="status" class="form-label">Status *</label>
                        <select class="form-select" id="status" name="status" required>
                            <option value="" selected disabled>Escolha o status</option>
                            {% for st in status %}
                                <option value="{{ st.id }}">{{ st.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="prioridade" class="form-label">Prioridade *</label>
                        <select class="form-select" id="prioridade" name="prioridade" required>
                            <option value="" selected disabled>Escolha a prioridade</option>
                            {% for pr in prioridades %}
                                <option value="{{ pr.id }}">{{ pr.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="categoria" class="form-label">Categoria *</label>
                        <select class="form-select" id="categoria" name="categoria" required>
                            <option value="" selected disabled>Escolha a categoria</option>
                            {% for cat in categorias %}
                                <option value="{{ cat.id }}">{{ cat.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    
                </div>

                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-success">Submeter Nova Tarefa</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}